# Import necessary packages

In [16]:
import pandas as pd

## Read in the first page of the excel file. Notice that it has several table with flawwed formatting...

In [23]:
reported_data = pd.read_excel('../data/TEIS Exit Data for NSS.xlsx', sheet_name = 'Reported Data', skiprows = 4)
reported_data

### Reading in the first sheet we skipped 4 rows, *including* the row which says the targeted number for the outcomme.

In [26]:
reported_data.rename(columns = {'Unnamed: 0': 'POE'}, inplace = True)

In [27]:
reported_data

,POE,OC1 - a,OC1 - b,OC1 - c,OC1 - d,OC1 - e,OC1 Total,A1,A2
0,ET,0,155,214,392,138,899,0.796321,0.589544
1,FT,0,121,122,234,102,579,0.746331,0.580311
2,GN,8,294,215,246,124,887,0.604194,0.417136
3,MD,4,315,203,148,51,721,0.523881,0.276006
4,NW,0,68,69,74,11,222,0.677725,0.382883
5,SC,1,207,240,249,118,815,0.701578,0.450307
6,SE,0,81,92,137,66,376,0.73871,0.539894
7,SW,0,87,76,71,28,262,0.628205,0.377863
8,UC,0,128,160,182,49,519,0.72766,0.445087
9,Grand Total,13,1456,1391,1733,687,5280,0.680165,0.458333
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Outcome B,NaN,NaN,NaN,NaN,NaN,Targets,0.58,0.34
14,NaN,OC2 - a,OC2 - b,OC2 - c,OC2 - d,OC2 - e,OC2 Total,B1,B2
15,ET,0,367,134,294,104,899,0.538365,0.442714
16,FT,0,216,100,178,85,579,0.562753,0.454231
17,GN,6,508,144,177,52,887,0.384431,0.258174
18,MD,5,440,146,99,31,721,0.355072,0.180305
19,NW,0,102,53,56,11,222,0.516588,0.301802
20,SC,4,393,160,197,61,815,0.473475,0.316564
21,SE,0,172,53,110,41,376,0.486567,0.401596
22,SW,0,121,65,58,18,262,0.504098,0.290076
23,UC,1,228,118,143,29,519,0.532653,0.331407
24,Grand Total,16,2547,973,1312,432,5280,0.471328,0.330303
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Outcome C,NaN,NaN,NaN,NaN,NaN,Targets,0.675,0.53
29,NaN,OC3 - a,OC3 - b,OC3 - c,OC3 - d,OC3 - e,OC3 Total,C1,C2
30,ET,1,169,114,354,261,899,0.733542,0.684093
31,FT,0,116,61,235,167,579,0.718447,0.694301
32,GN,5,260,145,261,216,887,0.605067,0.537768
33,MD,4,294,139,188,96,721,0.5232,0.393897
34,NW,0,58,38,88,38,222,0.684783,0.567568
35,SC,6,183,158,259,209,815,0.688119,0.574233
36,SE,0,95,54,117,110,376,0.642857,0.603723
37,SW,0,70,62,77,53,262,0.665072,0.496183
38,UC,1,126,97,183,112,519,0.687961,0.568401
39,Grand Total,17,1371,868,1762,1262,5280,0.654555,0.572727

In [ ]:
for index, row in reported_data.iterrows():
    value = row['']

In [ ]:
reported_data[]

In [9]:
reported_totals = pd.read_excel('../data/TEIS Exit Data for NSS.xlsx', sheet_name = 'Reported Totals')
reported_totals

                                          Unnamed: 0  Unnamed: 1
0                        Children exiting with IFSP       8441.0
1                                                NaN         NaN
2  Children with <182 days btw Initial IFSP and E...      2471.0
3  Children with >= 182 days btw Initial IFSP and...      5970.0
4  Children with entrance and exit ECO data\n(tak...      5280.0
5                           Records missing ECO data       690.0

In [10]:
eco = pd.read_excel('../data/TEIS Exit Data for NSS.xlsx', sheet_name = 'ECO with Exit20-21')
eco

,DISTRICT,CHILD_ID,ECO_Entry_DATE,Ent SOCIAL_SCALE,Ent KNOWLEDGE_SCALE,Ent APPROPRIATE_ACTION_SCALE,ECO_Exit_DATE,Exit SOCIAL_SCALE,Exit KNOWLEDGE_SCALE,Exit APPROPRIATE_ACTION_SCALE,...,OC2 - d,OC2 - e,OC2 Data Check,OC3 - a,OC3 - b,OC3 - c,OC3 - d,OC3 - e,OC3 Data Check,Days btw Initial and Exit
0,ET,456849,2019-04-24,3.0,5.0,7.0,2019-10-14,7.0,5.0,7.0,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,1.0,569.0
1,ET,490916,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,221.0
2,ET,426757,2019-03-13,2.0,3.0,4.0,2020-08-12,6.0,7.0,7.0,...,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0,533.0
3,ET,480611,2020-05-28,2.0,5.0,1.0,2020-11-09,5.0,6.0,3.0,...,1.0,NaN,1.0,NaN,NaN,1.0,NaN,NaN,1.0,298.0
4,ET,492863,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,147.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8443,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8444,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8445,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8446,NaN,Corrected Child ID 475887 impossible combinati...,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8447,NaN,Corrected Child ID 486516 impossible combinati...,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
exit_notes = pd.read_excel('../data/TEIS Exit Data for NSS.xlsx', sheet_name = 'Exit Notes')
exit_notes

,POE,Child ID,DOB,Notification Date,Initial Eligibility Date,Initial IFSP Date,Latest IFSP Date,Exit Reason,Exit Date,Days from I-IFSP to Exit,Exit Note
0,UC,471738,2019-02-28,2019-10-17,2019-10-29,2019-10-31,2020-05-12,618 - Parent withdraw,2020-09-21,326,* No Exit ECO available due to COVID-19
1,FT,449030,2018-07-22,2018-11-07,2018-12-03,2018-12-18,2021-03-04,618 - Moved out of state,2021-03-06,809,"***family moving out of state March 2021, and ..."
2,FT,463311,2017-07-09,2019-05-24,2019-06-19,2019-07-02,2020-06-22,618 - Part B eligibility not determined,2020-07-08,372,**Completed the transition planning conference...
3,FT,463313,2017-07-09,2019-05-24,2019-06-19,2019-07-02,2020-06-22,618 - Part B eligibility not determined,2020-07-08,372,**Completed the transition planning conference...
4,FT,469194,2017-08-31,2019-09-04,2019-10-02,2019-10-11,2020-05-26,618 - Part B eligibility not determined,2020-08-30,324,**Due to the impact of the COVID-19 pandemic a...
...,...,...,...,...,...,...,...,...,...,...,...
5577,MD,491609,2018-12-22,2020-10-20,2020-10-30,2020-11-09,2021-03-05,618 - Attempts to contact unsuccessful,2021-05-17,189,NaN
5578,GN,491743,2018-06-05,2020-10-22,2020-11-05,2020-11-09,2021-05-04,618 - Part B eligibility not determined,2021-06-04,207,NaN
5579,ET,491879,2019-04-24,2020-10-26,2020-11-02,2020-11-04,2021-04-15,618 - Parent withdraw,2021-05-06,183,NaN
5580,SC,492267,2018-06-01,2020-10-30,2020-11-17,2020-11-24,2021-04-15,618 - Part B eligibility not determined,2021-05-31,188,NaN
5581,SW,492408,2020-08-06,2020-11-03,2020-11-17,2020-11-20,2020-11-20,618 - Attempts to contact unsuccessful,2021-05-20,181,NaN

In [12]:
terms_dict = pd.read_excel('../data/TEIS Exit Data for NSS.xlsx', sheet_name = 'Terms-Acronyms')
terms_dict

,Term/Acronym,Definition
0,619,Portion of the Individuals with Disabilities E...
1,Board certified behavior analyst,Board certified individual who is trained to p...
2,(BCBA),NaN
3,Battelle Developmental Inventory 2 Normative U...,Comprehensive developmental assessment tool us...
4,(BDI-2 NU),NaN
5,Certified occupational therapy assistant (COTA),Under the supervision of a licensed occupation...
6,District administrator (DA),TEIS staff who provide overall leadership of t...
7,Developmental therapy (DT),Form of therapy provided by an early intervent...
8,Early Childhood Outcomes,IDEA indicator that measures the percent of in...
9,(ECO),NaN
10,Early interventionist,The person who provides developmental therapy
11,(EI),NaN
12,Early Intervention Resource Agencies (EIRAs),TEIS-funded programs providing developmental t...
13,Individuals with Disabilities Education Act (I...,Federal law ensuring appropriate services to c...
14,Individualized Family Service Plan (IFSP),Written plan that documents and guides the ear...
15,Local Education Agency (LEA),The school district where the child will attend.
16,Natural environment,Setting that is natural or typical for a same-...
17,Occupational therapy or Occupational therapist...,Occupational therapy supports people across th...
18,Part B,Section of IDEA that specifically addresses st...
19,Part C,Section of IDEA that specifically addresses in...
20,Program coordinator (PC),Person who provides direct supervision to serv...
21,Point of entry offices (POEs),Nine regional TEIS district offices. A list of...
22,Physical therapy or,Physical therapy focuses on the diagnosis and ...
23,Physical therapist (PT),NaN
24,Physical therapy assistant (PTA),Under the supervision of a licensed physical t...
25,Service coordinator (SC),Person who manages a caseload of multiple chil...
26,Speech-language pathologist,"Person who works to prevent, assess, diagnose,..."
27,(SLP),NaN
28,Speech therapy (ST),Treatment of a variety of disorders related to...
29,Targeted case management (TCM),Face-to-face visit conducted by TEIS with chil...
30,Tennessee’s Early Intervention Data System (TE...,The data system used by TEIS to document all s...
31,Tennessee’s Early Intervention System (TEIS),A voluntary educational program for families w...
32,Transition planning conference (TPC),A meeting held three to nine months before a c...
33,Vendor,Contracted entity that provides IFSP services ...